body {
  background-color: black;
  text-align: center;
  color: gold;
}

h1 {

box-shadow:
    12px 12px 17px 0px darkred,
    -10px -10px 10px 0px red,
    10px 10px 19px 0px gold;
  padding: 10px;
  margin: 50px;
  border-style: ridge;
  font-size: 55px;
  font-family: cursive;
  border-radius
  border-color: white;
  border-width: thin;
}

p {
  padding: 15px;
  margin: 100px;
  border: 5px solid white;
  color: gold;
  font-size: 35px;
  border-color: white;
  border-width: 5px;
}
